@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.tilted-top {
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}
.tilted-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
}
.tilted-bottom-part {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}
.tilted-top-part {
    clip-path: polygon(0 75%, 100% 0, 100% 100%, 0% 100%);
}
@font-face {
    font-family: 'monaco';
    src: url('/monaco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'myriad';
    src: url('/MYRIADPRO-REGULAR.OTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
body{
    font-family:'lato'
}
.low-highlight::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 13px;
    width: 100%;
    height: 15%; /* Adjust height of the highlight */
    background-color: #D397F8; /* Semi-transparent yellow */
    z-index: -1;
  }

  